<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Marketplace Integration</title>
    <link rel="stylesheet" href="vendor/mdi/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="vendor/css/vendor.bundle.base.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="shortcut icon" href="images/favicon.ico" />
  </head>
  <body>
    <div class="container-scroller">
      <%- include('navbar') %>
      <div class="container-fluid page-body-wrapper">
        <%- include('sidebar') %>
        <div class="main-panel">
          <div class="content-wrapper"><%- body %></div>
          <%- include('footer') %>
        </div>
        
        <!-- main-panel ends -->
      </div>      
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <script src="vendor/js/vendor.bundle.base.js"></script>
    <script src="vendor/jquery/jquery-3.7.1.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor/chart.js/Chart.min.js"></script>
    <script src="js/off-canvas.js"></script>
    <script src="js/hoverable-collapse.js"></script>
    <script src="js/misc.js"></script>
    <script src="js/dashboard.js"></script>
    <script src="js/todolist.js"></script>
  </body>
</html>
