<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="dashboard">
        <span class="menu-title">Dashboard</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="tokopedia">
        <span class="menu-title">Tokopedia</span>
        <i class="mdi mdi-tokopedia menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="shopee">
        <span class="menu-title">Shopee</span>
        <i class="mdi mdi-shopee menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="tiktok">
        <span class="menu-title">Tiktok Shop</span>
        <i class="mdi mdi-tiktok menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="blibli">
        <span class="menu-title">Blibli</span>
        <i class="mdi mdi-blibli menu-icon"></i>
      </a>
    </li>
  </ul>
</nav>
