<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create Account</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <link
      rel="stylesheet"
      type="text/css"
      href="vendor/fontawesome/css/all.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="fonts/iconic/css/material-design-iconic-font.min.css"
    />
    <link rel="stylesheet" type="text/css" href="css/util.css" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
  </head>
  <body>
    <div class="container-login100">
      <div class="wrap-login100">
        <form class="login100-form validate-form" id="registration-form">
          <span class="login100-form-title p-b-26"> Create Account </span>
          <div class="wrap-input100">
            <input class="input100" type="text" name="username" id="username" />
            <span class="focus-input100" data-placeholder="Username"></span>
          </div>
          <div
            class="wrap-input100 validate-input"
            data-validate="example@domain.com"
          >
            <input class="input100" type="text" name="email" id="email" />
            <span class="focus-input100" data-placeholder="Email"></span>
          </div>
          <div
            class="wrap-input100 validate-input"
            data-validate="Enter password"
          >
            <span class="btn-show-pass">
              <i class="zmdi zmdi-eye"></i>
            </span>
            <input class="input100" type="password" name="password" id="password" />
            <span class="focus-input100" data-placeholder="Password"></span>
          </div>
          <div
            class="wrap-input100 validate-input"
            data-validate="Enter password"
          >
            <span class="btn-show-pass">
              <i class="zmdi zmdi-eye"></i>
            </span>
            <input
              class="input100"
              type="password"
              name="repeatpass"
              id="repassword"
            />
            <span
              class="focus-input100"
              data-placeholder="Repeat password"
            ></span>
          </div>
          <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
              <div class="login100-form-bgbtn"></div>
              <button class="login100-form-btn" id="register-button">
                Register
              </button>
            </div>
          </div>
          <div class="text-center p-t-115">
            <span class="txt1"> Already have an account? </span>
            <a class="txt2" href="login"> Login </a>
          </div>
        </form>
      </div>
    </div>
  </body>
  <script src="vendor/jquery/jquery-3.7.1.min.js"></script>
  <script src="js/main.js"></script>
  <script src="js/register.js"></script>
</html>
